<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" (onHide)="handler('onHide')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="custom-modal-wrapper">
          <p>Are You sure you want to {{ userStatus ? 'Block' : 'Unblock' }} This User ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Cancel</button>
        <button style="color:#fff;" type="button" (click)="changeStatus()" class="btn btn-purple">Confirm</button>
      </div>
    </div>
  </div>
</div>