<div class="col-lg-12">
  <div class="row mb20">
    <div class="col-md-12">
      <div class="d-flex">
        <div class="total-customers custom-box mr-3 border-radius-10 bg-white pd15">
          <h3>Total Drivers : <span class="purple">{{ totalDriverCount }}</span></h3>
        </div>
        <div class="total-customers custom-box mr-3 border-radius-10 bg-white pd15">
          <h3>Active Drivers : <span class="green">{{ activeDriverCount }}</span></h3>
        </div>
        <div class="total-customers custom-box mr-3 border-radius-10 bg-white pd15">
          <h3>Inactive Drivers : <span class="red">{{ inactiveDriverCount }}</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-panel-wrapper overflow-hidden">
        <div class="custom-panel-header pd20 bg-white clearfix">
          <div class="float-left">
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <h3>Driver List</h3>
              </div>
              <div class="mr-3 search-input">
                <input (keyup)="getDrivers()" [(ngModel)]="paginationAndFilter.search" type="text" class="form-control" placeholder="Search By Name,ID or Phone no">
                <span><img src="../../assets/img/search-ico.png"></span>
              </div>
              <div class="mr-2">
                <select (change)="onStatusChanges()" [(ngModel)]="paginationAndFilter.status" class="form-control">
                  <option value="">All Drivers</option>
                  <option value="1">Active Drivers</option>
                  <option value="2">InActive Drivers</option>
                </select>
              </div>
            </div>
          </div>
          <div class="float-right">
            <div class="d-flex">
              <div>
                <select (change)="onPerPageChanged()" [(ngModel)]="paginationAndFilter.perPage" class="form-control">
                  <option value="10">10 items</option>
                  <option value="20">20 items</option>
                  <option value="30">30 items</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="custom-panel-content bg-white">
          <div class="table-responsive">
            <table class="table mb0 text-center">
              <thead>
                <tr>
                  <td>S. No.</td>
                  <td>Driver Name & ID</td>
                  <td>Email</td>
                  <td>Phone No.</td>
                  <td>Rating</td>
                  <td>Total Request</td>
                  <td>Completed</td>
                  <td>Earnings</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let driver of drivers; let i=index">
                  <td>
                    <div class="serial-number">{{ i+1 }}</div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <div class="mr-2">
                        <div class="user-img" [style.background-image]="utilService.getProfilePicture(driver)"></div>
                      </div>
                      <div class="user-name text-left">
                        <h3>{{ driver.name?.first +" "+ driver.name?.last  }}</h3>
                        <p class="mb0">{{ driver.unique_code }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="user-email">
                      <h4>{{ driver.email }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="phone">
                      <h4>{{ driver.contact_number }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="rating">
                      <ul class="list-inline mb0">
                        <li class="list-inline-item"><i class="fa fa-star active"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="total-request">
                      <h4>{{ driver.total_request || 0 }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="completed">
                      <h4>{{ driver.completed_request || 0 }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="earnings">
                      <h4>${{ driver.earning || 0 }}</h4>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex action-list justify-content-center">
                      <div class="mr-3">
                        <a (click)="viewDriver(driver)" class="action-ico" title="View">
                          <i class="fa fa-eye"></i>
                        </a>
                      </div>
                      <div class="mr-3">
                        <a class="action-ico" title="Edit" (click)="openEditModal(i)">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>
                      <div class="mr-3">
                        <a class="action-ico" title="Delete" (click)="openDeleteModal(driver)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </div>
                      <div>
                        <a class="action-ico" title="Delete">
                          <i class="fa fa-user"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-modal #deleteModal (deleteEvent)="deleted($event)"></app-delete-modal>
<app-edit-modal #editModal (updateEvent)="updated($event)"></app-edit-modal>