span.dot-red {
    height: 10px;
    width: 10px;
    background: red;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
}

.page-title
{
    border-bottom: 3px solid #e1e1e1;
    position: relative;
}

.page-title::after
{
    content: '';
    position: absolute;
    height: 6px;
    width:60px;
    border-radius: 30px;
    background: #590ac8;
    bottom:-4px;
}

.page-title h2.title
{
    font-size: 24px;
}

.page-title button.btn-back
{
    padding:5px;
    border-radius:6px;
    background: #fff;
    border:1px solid #c3c4c8;
    width:70px;
    font-size:14px;
}

.page-title button.btn-back img 
{
    position: relative;
    top: -2px;
    left: -2px;
}

.customer-pic
{
    height: 104px;
    width: 104px;
    background: #333333;
    border:1px solid #333333;
    border-radius: 100%;
}

.customer-name h2,
.customer-name h3
{
    font-size:20px;
    color:#000;
}

.customer-name h3 > i
{
    color: #ed8a19;
}

.customer-name h3 > small
{
    color: #6c6b6b;
}

.customer-name h3 > a
{
    color:#4B9DEA;
    font-size:12px;
    border-bottom: 1px solid #4B9DEA;
    font-weight: 400;
}

.customer-detail h2.cust_id,
.customer-detail h3
{
    font-size: 14px;
}

.customer-detail h3 span img
{
    margin-right: 5px;
    width:30px;
}

.customer-detail h2.cust_id
{
    margin-bottom: 20px;
}

.customer-status button.btn-blck
{
    font-size:12px;
    border:1px solid #999;
    border-radius:20px;
    width:69px;
}

span.dot {
    height: 10px;
    width: 10px;
    background: #57c322;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
}

.customer-status p
{
    font-weight: 500;
}

.border-bottom
{
    border-bottom: 2px solid #e5eeff !important;
}

.custom-heading h2
{
    margin:0;
    font-size: 20px;
    color:#000;
}

.payment-activity-box
{
    width:206px;
    box-shadow: 0px 2px 3px 0px rgba(126, 135, 161, 0.25);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(126, 135, 161, 0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(126, 135, 161, 0.25);
}

.status-activity-box
{
    width:310px !important;
}

.status-activity-box h2
{
    color:#3a3a3a !important;
}

.status-activity-box h3
{
    text-align: left;
    font-size: 14px;
    color:#000;
}

.payment-activity-box h4
{
    margin-top:0;
    margin-bottom: 15px;
    font-size:12px;
}

.payment-activity-box h2
{
    margin:0;
    color:#000;
    font-size: 16px;
}

.custom-content ul li:nth-child(5)
{
    margin-right:0 !important;
}

.custom-content ul li.list-inline-item
{
    margin-right: 20px;
}

.filter-list ul li
{
    margin-right: 15px !important;
}

.filter-list ul li:last-child
{
    margin-right:0;
}

.filter-list ul li a
{
    color:#000;
    font-size:12px;
}

.filter-list ul li.active a
{
    color:#4B9DEA;
    border-bottom: 1px solid #4B9DEA;
}

h2.stats-heading
{
    font-size:18px;
    color:#000;
    width:200px;
    margin:0 auto 30px;
    position: relative;
}

h2.stats-heading::after {
    position: absolute;
    content: '';
    background: #590ac8;
    width: 40px;
    height: 4px;
    border-radius: 100px;
    bottom: -5px;
    left: 40%;
}

.left-side
{
    width:150px;
}

.left-side h2 span
{
    float: right;
}

.left-side h2,
 .right-side h2
{
    color:#000;
    font-size: 16px;
    margin: 0;
}

/* Personal Info Section Css */

.personal-info .d-flex > div.first-child
{
    width:100px;
}

.personal-info .d-flex>div.last-child
{
    width:180px;
}

.personal-info .d-flex > div
{
    width:200px;
}

.personal-info .right-side a.confirm
{
    color:#4B9DEA;
    border-bottom: 1px solid #4B9DEA;
    font-size:12px;
}

.personal-info .right-side a.edit
{
    color:#2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    font-size:12px;
}

.personal-info .right-side h2 i
{
    color:#57c322;
    font-size: 12px;
    border:1px solid #57c322;
    height: 20px;
    width:20px;
    border-radius: 100%;
    line-height: 18px;
}


/* Custom Modal Wrapper css */

.custom-modal-wrapper .form-group input
{
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0;
    padding-left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.custom-content table tr td .d-flex div:nth-of-type(2)
{
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.custom-content table tr td .d-flex div.trip-history-heading
{
    width:100px;
}

.location-map {
    width: 219px;
    height: 152px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    background: #000;
}

h2.trip-heading
{
    font-size:14px;
    color:#000;
    margin:0;
}

h2.trip-heading span
{
    float: right;
}

p.trip-content
{
    color:#2c2c2c;
    margin-bottom: 5px;
}


.rating ul li
{
    margin-right:2px!important;
}

.document-list ul li
{
    color: #000;
    width:267px;
    margin-right: 0 !important;
    margin-bottom: 15px;
    font-size: 14px;
}

.document-list ul li span i, .right-side span i 
{
    color: #57c322;
    font-size: 12px;
    border: 1px solid #57c322;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 18px;
    text-align: center;
    margin-right:5px;
}

.driver-cab
{
    height:122px;
    width:297px;
    background-repeat: no-repeat;
    background-position: center;
}

.cab-name h2
{
    font-size: 18px;
    color: #000;
}

.vehicle-info .d-flex div:nth-of-type(2) {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.vehicle-info .personal-info .d-flex>div.first-child
{
    width:120px;
}

.customer-pic
{
    height: 104px;
    width: 104px;
    background: #fff;
    border:1px solid #fff;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

a{
    cursor: pointer;
}