<div class="col-lg-12">
  <div class="row mb20">
    <div class="col-md-12">
      <div class="d-flex page-title align-items-center justify-content-between pb10">
        <div>
          <h2 class="title mt0 mb0">Driver Detail</h2>
        </div>
        <div>
          <button type="button" class="btn btn-back" (click)="back()"><img src="../../assets/img/back-arrow.png"> Back</button>
        </div>
      </div>
    </div>
  </div>
  <!--row end here-->

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-wrapper pd20 bg-white border-radius-10">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="user-img d-flex align-items-center">
              <div>
                <div class="customer-pic mr-3" [style.background-image]="utilService.getProfilePicture(driver)"></div>
              </div>
              <div>
                <div class="customer-name">
                  <h2 class="mt0">{{driver?.name.first+" "+driver?.name.last}}</h2>
                  <h3 class="mb0">
                    <i class="fa fa-star"></i>
                    {{driver?.average_rating.$numberDecimal}}<small>/5</small>
                    <a href="#">Reviews({{driver?.totalReviews || 'Na'}})</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="customer-detail">
              <h2 class="cust_id mt0">Customer id : #{{driver?.unique_code}}</h2>
              <h3 class="mt0"><span><img src="../../assets/img/total-ride-ico.png"> {{driver?.total_rides}}(Total
                  Rides)</span></h3>
            </div>
          </div>
          <div>
            <div class="customer-status text-right">
              <p [ngClass]="{'green': driverStatus,'red':!driverStatus}">
                <span [ngClass]="{'dot': driverStatus,'dot-red':!driverStatus}">
                </span>{{driverStatus?"Active":"InActive"}}</p>
              <button type="button" class="btn btn-blck" (click)="showConfirmModal()">{{driverStatus?"Block":"Unblock"}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--row ends here-->

  <div class="row mb20">
    <div class="col-md-6">
      <div class="custom-wrapper bg-white border-radius-10">
        <div class="custom-heading border-bottom pd15">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Personal Info
                <a (click)="showEditModal()" style="margin-left: 10px;" class="action-ico m-1" title="Edit">
                  <i class="fa fa-pencil"></i>
                </a>
              </h2>
            </div>
            <div>
              <button type="button" class="btn btn-outline">Favourite Customers</button>
            </div>
          </div>
        </div>
        <!--custom heading ends here-->
        <div class="custom-content pd20">
          <div class="personal-info">
            <div class="d-flex align-items-center mb10">
              <div class="left-side first-child">
                <h2>Email <span>:</span></h2>
              </div>
              <div class="right-side pl10">
                <h2>{{ driver.email }}</h2>
              </div>
              <div class="right-side pl10 text-right">
                <span><i class="fa fa-check"></i></span>
                <!-- <a href="#" data-toggle="modal" data-target="#editModal" class="edit">Edit</a> -->
              </div>
            </div>
            <div class="d-flex align-items-center mb10">
              <div class="left-side first-child">
                <h2>Phone <span>:</span></h2>
              </div>
              <div class="right-side pl10">
                <h2>{{ driver.contact_number }}</h2>
              </div>
              <div class="right-side pl10 text-right">
                <span><i class="fa fa-check"></i></span> 
                <!-- <a href="#" class="edit">Edit</a> -->
              </div>
            </div>
            <div class="d-flex align-items-center mb10">
              <div class="left-side first-child">
                <h2>Shipping Address <span>:</span></h2>
              </div>
              <div class="right-side pl10">
                <h2>{{ driver.address || 'Not Available' }}</h2>
              </div>
              <div class="right-side pl10 text-right">
                <a class="confirm">Confrim</a>
                <!-- <a href="#" class="edit">Edit</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="custom-wrapper bg-white border-radius-10">
        <div class="custom-heading border-bottom pd15">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Documents</h2>
            </div>
            <div>
              <button type="button" class="btn btn-outline">Edit</button>
            </div>
          </div>
        </div>
        <!--custom heading ends here-->
        <div class="custom-content pd20">
          <div class="personal-info">
            <div class="d-flex align-items-center mb10 document-list">
              <ul class="list-inline mb0">
                <li class="list-inline-item">
                  <span><i class="fa fa-check"></i></span> Driver’s License ( Exp. Dec 14, 2026 )
                </li>
                <li class="list-inline-item">
                  <span><i class="fa fa-check"></i></span> Driver Photo
                </li>
                <li class="list-inline-item">
                  <span><i class="fa fa-check"></i></span> Insurance Document
                </li>
                <li class="list-inline-item">
                  <span><i class="fa fa-check"></i></span> Vehicle Inspection
                </li>
                <li class="list-inline-item">
                  <span><i class="fa fa-check"></i></span> Vehicle Registration/Ownership
                </li>
                <li class="list-inline-item">
                  <span><i class="fa fa-check"></i></span> Criminal Background Check
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--row end here-->

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-wrapper bg-white border-radius-10">
        <div class="custom-heading border-bottom pd15">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Gig Activites</h2>
            </div>
            <div>
              <div class="filter-list">
                <ul class="list-inline mb0">
                  <li class="list-inline-item active"><a href="#">Today</a></li>
                  <li class="list-inline-item"><a href="#">Weekly</a></li>
                  <li class="list-inline-item"><a href="#">Monthly</a></li>
                  <li class="list-inline-item"><a href="#">Yearly</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--custom heading ends here-->
        <div class="custom-content pd20">
          <ul class="list-inline mb0 text-center">
            <li class="list-inline-item">
              <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="mr-3">
                    <h4>Earnings</h4>
                    <h2>$0</h2>
                  </div>
                  <div>
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                  </div>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="mr-3">
                    <h4>Trips</h4>
                    <h2>0</h2>
                  </div>
                  <div>
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                  </div>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="mr-3">
                    <h4>Time on Trips</h4>
                    <h2>$0</h2>
                  </div>
                  <div>
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                  </div>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="mr-3">
                    <h4>Miles</h4>
                    <h2>0 Km</h2>
                  </div>
                  <div>
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                  </div>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="mr-3">
                    <h4>Tips</h4>
                    <h2>$0</h2>
                  </div>
                  <div>
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <h2 class="text-center stats-heading">Stats</h2>

          <ul class="list-inline mb0 text-center">
            <li class="list-inline-item">
              <div class="payment-activity-box status-activity-box bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center">
                  <div class="pd20 border-right">
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="">
                  </div>
                  <div class="ml-3">
                    <h2>Acceptance Rate</h2>
                    <h3>0%</h3>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="payment-activity-box status-activity-box bg-white border-radius-10 mb20">
                <div class="d-flex align-items-center">
                  <div class="pd20 border-right">
                    <img src="../../assets/img/payment-ico-1.png" alt="" title="">
                  </div>
                  <div class="ml-3">
                    <h2>Customer Rating</h2>
                    <h3>0</h3>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!--row ends here-->

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-wrapper bg-white border-radius-10">
        <div class="custom-heading pd15">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Driver History</h2>
            </div>
            <div>

            </div>
          </div>
        </div>
        <!--custom heading ends here-->
        <div class="custom-content">
          <div class="table-responsive">
            <table class="table mb0 text-center">
              <thead>
                <tr>
                  <td>S. No.</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Trips</td>
                  <td>Miles</td>

                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td>
                    1
                  </td>
                  <td>
                    20-Aug-2018
                  </td>
                  <td>
                    50 Hrs
                  </td>
                  <td>
                    54
                  </td>
                  <td>
                    80km
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--row ends here-->

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-wrapper bg-white border-radius-10">
        <div class="custom-heading border-bottom pd15">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Vehicle</h2>
            </div>
            <div>
              <a href="#" class="btn-edit float-right">Edit</a>
            </div>
          </div>
        </div>
        <!--custom heading ends here-->
        <div class="custom-content pd20">
          <div class="vehicle-info">
            <div class="d-flex">
              <div>
                <div class="driver-cab" style="background-image:url('../../../../assets/img/cab-img.png')"></div>
              </div>
              <div class="ml-3">
                <div class="row mb10">
                  <div class="col-md-12">
                    <div class="cab-name">
                      <h2 class="mt0">Toyota Prius</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="personal-info">
                      <div class="d-flex align-items-center mb10">
                        <div class="left-side first-child">
                          <h2>Seating <span>:</span></h2>
                        </div>
                        <div class="right-side pl10">
                          <h2>4 Pessanger</h2>
                        </div>

                      </div>
                      <div class="d-flex align-items-center mb10">
                        <div class="left-side first-child">
                          <h2>Model <span>:</span></h2>
                        </div>
                        <div class="right-side pl10">
                          <h2>2005</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="personal-info">
                      <div class="d-flex align-items-center mb10">
                        <div class="left-side first-child">
                          <h2>Colour <span>:</span></h2>
                        </div>
                        <div class="right-side pl10">
                          <h2>Silver</h2>
                        </div>

                      </div>
                      <div class="d-flex align-items-center mb10">
                        <div class="left-side first-child">
                          <h2>Number Plate <span>:</span></h2>
                        </div>
                        <div class="right-side pl10">
                          <h2>7EDY562</h2>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-wrapper bg-white border-radius-10">
        <div class="custom-heading pd15">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h2>Trip History</h2>
            </div>
            <div>

            </div>
          </div>
        </div>
        <!--custom heading ends here-->
        <div class="custom-content">
          <div class="table-responsive">
            <table class="table mb0 text-center">
              <thead>
                <tr>
                  <td>S. No.</td>
                  <td>Pickup</td>
                  <td>Driver</td>
                  <td>Time</td>
                  <td>Fare</td>
                  <td>Car</td>
                  <td>City</td>
                  <td>Payment Mode</td>
                  <td>Ride Completed</td>
                  <td>Booking ID</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">3/14/15</a>
                  </td>
                  <td>
                    <h3>Chris</h3>
                  </td>
                  <td>
                    <h3>12:33 AM</h3>
                  </td>
                  <td>
                    <h3>$83.22</h3>
                  </td>
                  <td>
                    <h3>Sidedriver</h3>
                  </td>
                  <td>
                    <h3>Chicago</h3>
                  </td>
                  <td>
                    <h3>visa********</h3>
                  </td>
                  <td>
                    <h3>Completed</h3>
                  </td>

                  <td>
                    <h3>#6769981</h3>
                  </td>
                </tr>

                <tr class="collapse bg-light" id="collapseExample">
                  <td colspan="10">
                    <div class="text-left">
                      <div class="d-flex align-items-center">
                        <div class="mr-3">
                          <div class="location-map"></div>
                        </div>
                        <div>
                          <div class="row mb10">
                            <div class="col-md-12">
                              <div class="d-flex">
                                <div class="mr-3 trip-history-heading">
                                  <h2 class="trip-heading">Payment <span>:</span></h2>
                                </div>
                                <div>
                                  <p class="trip-content">$38.82</p>
                                  <p class="trip-content">Saturday, March 14,2015, 12:33 AM</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="d-flex">
                                <div class="mr-3 trip-history-heading">
                                  <h2 class="trip-heading">Pick Up <span>:</span></h2>
                                </div>
                                <div>
                                  <p class="trip-content">$38.82</p>
                                  <p class="trip-content">Saturday, March 14,2015, 12:33 AM</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="d-flex">
                                <div class="mr-3 trip-history-heading">
                                  <h2 class="trip-heading">Drop Off <span>:</span></h2>
                                </div>
                                <div>
                                  <p class="trip-content">$38.82</p>
                                  <p class="trip-content">Saturday, March 14,2015, 12:33 AM</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--row ends here-->
  <!--row ends here-->
</div>

<app-status-confirm-modal #confirmModal (statusChangeSuccess)="changeStatus($event)"></app-status-confirm-modal>
<app-edit-modal #editModal (updateEvent)="updated($event)"></app-edit-modal>

<!-- <app-confirm-modal #confirm></app-confirm-modal> -->