<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #f="ngForm" (ngSubmit)="updatePassengerDetails(f)">
        <div class="modal-body">
          <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="custom-modal-wrapper">
            <div *ngIf="errorMessage != ''" class="alert alert-danger">{{ errorMessage }}</div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="firstname" ngModel #firstname="ngModel" [(ngModel)]="editData.name.first"
                  placeholder="First Name .." required>
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="lastname" ngModel #lastname="ngModel" [(ngModel)]="editData.name.last"
                  placeholder="Last Name ..">
                <!-- <div *ngIf="lastname.invalid && (f.submitted || lastname.dirty || lastname.touched)" class="alert alert-danger">
                  <div *ngIf="lastname.errors.required">
                    Last name is a required Field.
                  </div>
                </div> -->
              </div>
              <div *ngIf="firstname.invalid && (f.submitted || firstname.dirty || firstname.touched)" class="alert alert-danger col-md-12">
                <div *ngIf="firstname.errors.required">
                  First name is a required Field.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input name="email" ngModel #email="ngModel" type="email" class="form-control" [(ngModel)]="editData.email"
                required>
            </div>
            <div *ngIf="email.invalid && (f.submitted || email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is a required Field.
              </div>
            </div>
            <div class="form-group">
              <input name="mobile" ngModel #mobile="ngModel" type="number" class="form-control" [(ngModel)]="editData.contact_number"
                placeholder="Contact number" required>
            </div>
            <div *ngIf="mobile.invalid && (f.submitted || mobile.dirty || mobile.touched)" class="alert alert-danger">
              <div *ngIf="mobile.errors.required">
                Contact number is a required Field.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.hide()">Cancel</button>
          <button type="submit" class="btn btn-purple">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>