/* Custom Modal Wrapper css */

.custom-modal-wrapper .form-group input
{
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0;
    padding-left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}