<section class="login-bg">
  <div class="container">
    <div class="row align-items-center auth-wrapper">
      <div class="col-sm-4 offset-sm-4 col-md-6 col-lg-4 col-xs-12">
        <div class="login-content-wrapper">
          <div class="logo text-center mb30">
            <img src="../../assets/img/logo.png" alt="" title="" />
          </div>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="pl5">
            <div class="login-content-header bg-white pd20">
              <h2>Welcome,</h2>
              <h4>Please login to your account</h4>
              <div *ngIf="errorMessage != ''" class="alert alert-danger">{{ errorMessage }}</div>
              <div class="form-group">
                <input name="email" ngModel #email="ngModel" type="email" class="form-control" placeholder="User Name" required>
              </div>
              <div *ngIf="email.invalid && (f.submitted || email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Email is a required Field.
                </div>
              </div>
              <div class="form-group">
                <input name="password" ngModel #password="ngModel" type="password" class="form-control" placeholder="Password" required>
              </div>
              <div *ngIf="password.invalid && (f.submitted || password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                  Password is a required Field.
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="form-group form-check mb0">
                  <input type="checkbox" checked class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remeber Me</label>
                </div>
                <div class="forgot-password">
                  <a href="#">Forgot Password ?</a>
                </div>
              </div>
            </div>
            <div class="login-content-footer">
              <button type="submit" class="btn btn-login btn-block pd15 text-uppercase">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
