.login-bg {
    background-image: url(../../assets/img/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}

.auth-wrapper
{
    min-height: 100vh;
}

.login-content-header
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-content-header h2
{
    font-size:30px;
    color:#620fd6;
    margin-top:0;
    margin-bottom: 20px;
}

.login-content-header h4
{
    color:#000;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-content-header .forgot-password a
{
    color:#590ac8;
    text-decoration: underline;
}

.login-content-header .form-group input
{
    border-top:0 none;
    border-left:0 none;
    border-right: 0 none;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0;
    padding-left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.login-content-footer button.btn-login
{
    background: #5a0bc9;
    color:#fff;
    border-radius: 0;
}

.login-content-footer button.btn-login
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}