<div bsModal #modal="bs-modal" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body pd20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="custom-modal-wrapper">
          <p>Are You sure you want to delete this User ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.hide()">Cancel</button>
        <button (click)="deletePassenger()" type="button" class="btn btn-purple">Confirm</button>
      </div>
    </div>
  </div>
</div>