@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html {
    font-size: 100%;
    height: 100%;
    background-color: #eeeeee;
}

body {
    background-color: #eeeeee;
    color: rgba(118, 118, 118, 1.0);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #4d4d4d;
}

a {
    color: #4d4d4d;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #20ced3;
    outline: none;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}



/* Padding top bottom css */

.pd5 
{
    padding: 5px !important;
}

.pd10 
{
    padding: 10px !important;
}

.pd15 
{
    padding: 15px !important;
}

.pd20 
{
    padding: 20px !important;
}

.pd25 
{
    padding: 25px !important;
}

.pd30 
{
    padding: 30px !important;
}

.pd35 
{
    padding: 35px !important;
}

.pd40 
{
    padding: 40px !important;
}

.pd45 
{
    padding: 45px !important;
}

.pd50 
{
    padding: 50px !important;
}

/* Padding top css */

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pt60
{
    padding-top: 60px;
}

.pt70
{
    padding-top: 70px;
}

.pt80
{
    padding-top: 80px;
}

.pt90
{
    padding-top:90px; 
}

.pt100 {
    padding-top: 100px !important;
}

/* Padding bottom css */

.pb10 
{
    padding-bottom: 10px;
}

.pb20 
{
    padding-bottom: 20px;
}

.pb30 
{
    padding-bottom: 30px;
}

.pb40 
{
    padding-bottom: 40px;
}

.pb50 
{
    padding-bottom: 50px;
}

.pb60 
{
    padding-bottom: 60px;
}

.pb70 
{
    padding-bottom: 70px;
}

.pb80 
{
    padding-bottom: 80px;
}

.pb90 
{
    padding-bottom: 90px;
}

.pb100
{
    padding-bottom: 100px;
}

/* padding-left */

.pl5
{
    padding-left: 5px;
}

.pl10
{
    padding-left: 10px;
}

/* Margin Top Css */

.mt10
{
    margin-top: 10px;
}

.mt20
{
    margin-top: 20px;
}

.mt30
{
    margin-top: 30px;
}

.mt40
{
    margin-top: 40px;
}

.mt50
{
    margin-top: 50px;
}

.mt60
{
    margin-top: 60px;
}

.mt70
{
    margin-top: 70px;
}

.mt80
{
    margin-top: 80px;
}

.mt90
{
    margin-top: 90px;
}

.mt100
{
    margin-top: 100px;
}


/* Margin Bottom Css */

.mb10
{
    margin-bottom: 10px;
}

.mb20
{
    margin-bottom: 20px;
}

.mb30
{
    margin-bottom:30px;
}

.mb40
{
    margin-bottom: 40px;
}

.mb50
{
    margin-bottom:50px;
}

.mb60
{
    margin-bottom:60px;
}

.mb70
{
    margin-bottom:70px;
}

.mb80
{
    margin-bottom:80px;
}

.mb90
{
    margin-bottom:90px;
}

.mb100
{
    margin-bottom:100px;
}

/* Global Background Color Css */


.bg-blue {
    background: #20ced3;
}

.bg-light-dark {
    background: #e5e5e5;
}

.bg-gray
{
    background: #f5f5f5;
}

.bg-1
{
    background: #da0000 !important;
}

.bg-2
{
    background: #20ced3 !important;;
}

.bg-3
{
    background: #ffbe29 !important;;
}

.bg-4
{
    background: #fd1054 !important;;
}

.bg-5
{
    background: #fd1054 !important;;
}

.bg-6
{
    background: #0a69a3 !important;;
}

.bg-7
{
    background: #ef6e0f !important;;
}

.bg-purple
{
    background: #70489f;
}

.bg-green
{
    background: #008c53;
}

.bg-dark-blue
{
    background: #095d90;
}

.bg-light-blue
{
    background: #f9fafc;
}

.purple
{
    color:#590ac8;
}

.green
{
    color:#57c322;
}

.red
{
    color:#e90000;
}

/* Custom Border radius */

.border-radius-5
{
    border-radius: 5px;
}

.border-radius-10
{
    border-radius: 10px;
}

.border-radius-15
{
    border-radius: 15px;
}

.border-radius-20
{
    border-radius: 20px;
}


/* Custom Buttons */

.btn-custom
{
    background: #fff;
    padding:8px 20px;
    border-radius:50px;
    color:#fff;
    font-size: 14px;
}

.btn-custom:focus,
.btn-custom:hover
{
    color:#fff;
}

.btn-purple, .btn-purple:hover
{
    color: #fff;
    background-image: linear-gradient( 0deg, rgb(89,10,200) 0%, rgb(118,36,234) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(89,10,200) 0%, rgb(118,36,234) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(89,10,200) 0%, rgb(118,36,234) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(89,10,200) 0%, rgb(118,36,234) 100%);
}


.btn-outline
{
    border:1px solid #e3e3e3;
    color: #000;
    padding:8px 20px;
    border-radius:50px;
}

.text-block
{
    text-decoration: underline;
    color: red;
    padding-bottom: 3px;
}

.text-block:hover
{
    color:red;
}


/* Global Input Css */

input:focus,
textarea:focus
{
    box-shadow: none !important;
    border-bottom: 2px solid #6918db!important;
}

.btn:focus
{
    outline: 0;
    box-shadow: none;
}



textarea
{
    font-size: 14px !important;
    font-weight: 500 !important;
    color:#4d4d4d !important;
}

.shadow-md
{
    box-shadow: 3px 5.196px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 5.196px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 5.196px 15px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 3px 5.196px 15px 0px rgba(0, 0, 0, 0.1);
}

.border-radius
{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.border-bottom-gray
{
    border-bottom:1px solid #e3e3e3;
}

.height450
{
    height:450px;
}

.common-btn {
    background-image: -moz-linear-gradient(-68deg, rgb(10, 105, 163) 0%, rgb(64, 140, 187) 50%, rgb(32, 206, 211) 100%);
    background-image: -webkit-linear-gradient(-68deg, rgb(10, 105, 163) 0%, rgb(64, 140, 187) 50%, rgb(32, 206, 211) 100%);
    background-image: -ms-linear-gradient(-68deg, rgb(10, 105, 163) 0%, rgb(64, 140, 187) 50%, rgb(32, 206, 211) 100%);
    box-shadow: 2px 3.464px 5px 0px rgba(0, 0, 0, 0.3), inset 20px 34.641px 50px 0px rgba(0, 0, 0, 0.1);
    width: 201px;
    height: 52px;
    color: #fff;
    border: transparent;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.custom-btn
{
    box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.1);
    padding:6px 20px;
    font-size: 16px;
    color:#fff;
    font-weight: 500;
    border-radius: 20px;
    border:0 none;
    cursor: pointer;
}

.btn-blue
{
    background-color: #20ced3;
}

.btn-gray
{
    background-color: #989898;
}

button:focus {
    outline: none;
    cursor: pointer;
}

.form-group
{
    position: relative;
}

.register-btn button{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 23px;
  background-color: transparent;
  width: 182px;
  height: 49px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

/* Custom User Component */

.notification-box .d-flex > div
{
    margin-right:15px;
}

.custom-user-img
{
    height: 69px;
    width:69px;
    border-radius: 100%;
    background: #e3e3e3;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.custom-user-content h3
{
    font-size:14px;
    color:#3e3f3f;
    margin-top:0;
    margin-bottom:15px;
    font-weight: 600;
}

.custom-user-content h3 > span
{
    color:#111111;
    font-weight:600;
    font-size: 14px;
}

.custom-user-content > p
{
    margin-bottom: 0;
    color:#626262;
    font-weight: 500;
}

.badge-notify
{
    background: #20ced3;
}

.custom-badge
{
    position: absolute;
    top:0;
    right:0;
    width:24px;
    height:24px;
    line-height: 19px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 100%;
}


