/* Login Page Css Here */

.login-bg {
    background-image: url(../img/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}

.auth-wrapper
{
    min-height: 100vh;
}

.login-content-header
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-content-header h2
{
    font-size:30px;
    color:#620fd6;
    margin-top:0;
    margin-bottom: 20px;
}

.login-content-header h4
{
    color:#000;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-content-header .forgot-password a
{
    color:#590ac8;
    text-decoration: underline;
}

.login-content-header .form-group input
{
    border-top:0 none;
    border-left:0 none;
    border-right: 0 none;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0;
    padding-left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.login-content-footer button.btn-login
{
    background: #5a0bc9;
    color:#fff;
    border-radius: 0;
}

.login-content-footer button.btn-login
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Top bar Css */

.page-topbar, .quick-area .pull-right, .page-topbar .logo-area, .page-sidebar, #main-content {
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
}

.page-topbar .quick-area .info-menu {
    height: 90px;
    margin: 0;
    line-height: 90px;
    padding: 0 25px;
}

.page-topbar .quick-area .info-menu li {
    position: relative;
}

.page-topbar .quick-area .info-menu li
{
    padding-left: 15px;
    padding-right: 15px;
}

.page-topbar li.profile.showopacity {
    opacity: 1 !important;
}

.page-topbar .quick-area .info-menu li a.toggle {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.page-topbar .quick-area .info-menu li.profile a {
    width: auto;
    text-decoration: none;
}

.page-topbar .quick-area .info-menu li.profile img {
    height: 30px;
    width: 30px;
    top: 0px;
    right: 3px;
    position: relative;
    background-color: #999999;
    border-radius: 100%;
}

.page-topbar .quick-area .info-menu li .dropdown-menu {
    width: 360px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 32px;
    font-size: 14px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    margin-top: -1px;
    padding-top: 0px;
}

.page-topbar li .dropdown-menu.profile {
    max-width: 180px;
    height: auto;
    padding: 0px;
}

.page-topbar .dropdown-menu {
    background: #ffffff;
    border: 1px solid #f5f5f5;
}

.page-topbar li .dropdown-menu.profile li a {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.dropdown-menu>li>a {
    padding: 3px 20px;
}

.page-topbar .dropdown-menu:after, .page-topbar .dropdown-menu:before {
    bottom: 100%;
    left: 22px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.page-topbar .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}

.page-topbar .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(80, 80, 80, .1);
    border-width: 10px;
    margin-left: -10px;
}

.page-topbar 
{
    min-height: 90px;
    position: fixed;
    width: 100%;
    background-color: #5f10cf;
    top: 0px;
    left: 0px;
    z-index: 999;
    max-height: 90px;
}

.page-container.container-fluid {
    padding: 0px;
}

.page-sidebar.fixedscroll {
    position: fixed;
    height: 90px;
}

.page-sidebar {
    height: auto;
    width: 273px;
    position: fixed;
    padding: 0px;
    background-color: #fff;
    margin-top: 90px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    min-height: 100%;
    height: auto;
}

.page-sidebar.collapseit
{
	width:60px;
	z-index:99;
	overflow: visible!important;
	position: absolute!important;
}

.page-sidebar.collapseit #main-menu-wrapper .menusection
{
    display: none;
}

.page-sidebar.collapseit #main-menu-wrapper li a
{
    padding-left: 10px;
}

.page-sidebar.collapseit .wraplist li:hover .title
{
	width: 196px;
	background: transparent;
	display: inline-block !important;
	position: relative;
	z-index: 2;
}

.page-sidebar.collapseit .wraplist li:hover a
{
	width: 260px;
	background: #ffffff;
	box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
	-webkit-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
	-moz-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
	-o-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
	-ms-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
	position: relative;
	z-index: 2;
	border-radius: 0;
}

.page-sidebar.collapseit ul.wraplist
{
	padding:0;
}

.page-sidebar.collapseit ul.wraplist li a
{
	padding-left:15px;
}

.page-sidebar.collapseit ul.wraplist li.active a
{
	border-radius: 0;
}

.page-sidebar.collapseit .wraplist li .title
{
    display: none;
}

#main-content.sidebar_shift {
    margin-left: 60px;
    margin-right: 0px;
}

#main-menu-wrapper ul.wraplist {
    padding-bottom: 0px;
}

#main-menu-wrapper ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

#main-menu-wrapper li
{
    position: relative;
}

#main-menu-wrapper li a {
    display: block;
    line-height: 60px;
    min-height: 60px;
    height: auto;
    color: #333333;
    text-decoration: none;
    padding-left: 24px;
    clear: both;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

#main-menu-wrapper li a > img {
    padding-right: 15px;
    margin-top: -3px;
}

span.title
{
    padding-left:50px;
}

span.menu-ico
{
    width:36px;
    height: 36px;
    background-repeat: no-repeat;
    position: absolute;
    top:14px;
}

span.menu-ico-1
{
    background-image: url('../img/1.png');
}

#main-menu-wrapper li.active span.menu-ico-1 
{
    background-image: url('../img/1-1.png');
}

span.menu-ico-2 {
    background-image: url('../img/2.png');
}

#main-menu-wrapper li.active span.menu-ico-2 {
    background-image: url('../img/2-2.png');
}

span.menu-ico-3 {
    background-image: url('../img/3.png');
}

#main-menu-wrapper li.active span.menu-ico-3 {
    background-image: url('../img/3-3.png');
}

span.menu-ico-4 {
    background-image: url('../img/4.png');
}

#main-menu-wrapper li.active span.menu-ico-4 {
    background-image: url('../img/4-4.png');
}

span.menu-ico-5 {
    background-image: url('../img/5.png');
}

#main-menu-wrapper li.active span.menu-ico-5 {
    background-image: url('../img/5-5.png');
}

span.menu-ico-6 {
    background-image: url('../img/6.png');
}

#main-menu-wrapper li.active span.menu-ico-6 {
    background-image: url('../img/6-6.png');
}

span.menu-ico-7 {
    background-image: url('../img/7.png');
}

#main-menu-wrapper li.active span.menu-ico-7 {
    background-image: url('../img/7-7.png');
}

span.menu-ico-8 {
    background-image: url('../img/8.png');
}

#main-menu-wrapper li.active span.menu-ico-8 {
    background-image: url('../img/8-8.png');
}

span.menu-ico-9 {
    background-image: url('../img/9.png');
}

#main-menu-wrapper li.active span.menu-ico-9 {
    background-image: url('../img/9-9.png');
}

span.menu-ico-10 {
    background-image: url('../img/10.png');
}

#main-menu-wrapper li.active span.menu-ico-10 {
    background-image: url('../img/10-1.png');
}


#main-menu-wrapper li.active 
{
    background: #7120e4;
}

#main-menu-wrapper li.active a {
    color: #fff;
    font-weight: 600;
}

#main-content {
    margin-left: 273px;
    display: block;
}

.main-wrapper {
    margin-top: 90px;
    display: inline-block;
    width: 100%;
    padding: 25px 15px 0 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.custom-box h3
{
    margin:0;
    font-size:16px;
    color:#000;
}

.custom-panel-wrapper .custom-panel-header
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-panel-wrapper .custom-panel-header h3
{
    margin:0;
    font-size:18px;
    color:#000;
}

.custom-panel-wrapper .custom-panel-header input
{
    border-radius: 50px;
    font-size: 14px;
    width:370px;
    padding-left:40px;
}

.custom-panel-wrapper .custom-panel-header select
{
    border-radius: 50px;
    font-size: 14px;
    color:#000;
}

.custom-panel-wrapper .custom-panel-header .search-input
{
    position: relative;
}

.custom-panel-wrapper .custom-panel-header .search-input span
{
    position: absolute;
    left:16px;
    top:7px;
}

.custom-panel-wrapper .custom-panel-header .search-input span img
{
    width:15px;
}


.custom-panel-wrapper .custom-panel-header input:focus,
.custom-panel-wrapper .custom-panel-header select:focus
{
    border: 1px solid #6918db!important;
    outline: 0 none;
    box-shadow: none;
}

.custom-panel-wrapper .custom-panel-content table thead,
.custom-content table thead
{
    background: #e5eeff;
    color:#000;
    font-size:14px;
    font-weight: 500;
}

.custom-panel-wrapper .custom-panel-content table thead tr td,
.custom-content table thead tr td
{
    padding:6px 15px;
}

.custom-panel-wrapper .custom-panel-content table tbody tr:hover
{
    background: #f9f9f9;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td
{
    vertical-align: middle;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .user-name h3
{
    margin-top:0;
    margin-bottom: 5px;
    font-size: 14px;
    color:#000;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .user-img
{
    height: 40px;
    width: 40px;
    background: #333333;
    border-radius: 100%;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td h4,
.custom-content table tbody tr td h3
{
    font-size: 14px;
    color:#000;
    margin:0;
}

.custom-content table tbody tr td
{
    color:#000;
    vertical-align: middle;
}

.custom-content table tbody tr td a
{
    color:#4B9DEA;
    vertical-align: middle;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td p
{
    font-size: 12px;
    color:#000;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .action-list a.action-ico
{
    height:32px;
    width:32px;
    border:1px solid #333333;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    border-radius: 100%;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .action-list a.action-ico:hover
{
    background: #590ac8;
    color:#fff;
    border-color:#590ac8;
}

/* TOGGLE STYLING */
.status .toggle {
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    justify-content: center;
  }
  .status .toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
  }

  .status .toggle input + label {
    margin: 0;
    padding: 6px 15px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  .status .toggle input + label:first-of-type {
    border-radius: 16px 0 0 16px;
    border-right: none;
    border-color: #3aa920;
  }
  .status .toggle input + label:last-of-type {
    border-radius: 0 16px 16px 0;
    border-left: none;
    border-color:#ff4040;
  }
  .status .toggle input:hover + label {
    border-color: #213140;
  }
  .status .toggle input:checked + label.active {
    background-color: #3aa920;
    color: #fff;
    border-color: #3aa920;
    z-index: 1;
  }

  .status .toggle input:checked + label.inactive {
    background-color: #ff4040;
    color: #fff;
    border-color: #ff4040;
    z-index: 1;
  }

  /* Customer Detail Page Css */

.page-title
{
    border-bottom: 3px solid #e1e1e1;
    position: relative;
}

.page-title::after
{
    content: '';
    position: absolute;
    height: 6px;
    width:60px;
    border-radius: 30px;
    background: #590ac8;
    bottom:-4px;
}

.page-title h2.title
{
    font-size: 24px;
}

.page-title button.btn-back
{
    padding:5px;
    border-radius:6px;
    background: #fff;
    border:1px solid #c3c4c8;
    width:70px;
    font-size:14px;
}

.page-title button.btn-back img 
{
    position: relative;
    top: -2px;
    left: -2px;
}

.customer-pic
{
    height: 104px;
    width: 104px;
    background: #333333;
    border:1px solid #333333;
    border-radius: 100%;
}

.customer-name h2,
.customer-name h3
{
    font-size:20px;
    color:#000;
}

.customer-name h3 > i
{
    color: #ed8a19;
}

.customer-name h3 > small
{
    color: #6c6b6b;
}

.customer-name h3 > a
{
    color:#4B9DEA;
    font-size:12px;
    border-bottom: 1px solid #4B9DEA;
    font-weight: 400;
}

.customer-detail h2.cust_id,
.customer-detail h3
{
    font-size: 14px;
}

.customer-detail h3 span img
{
    margin-right: 5px;
    width:30px;
}

.customer-detail h2.cust_id
{
    margin-bottom: 20px;
}

.customer-status button.btn-blck
{
    font-size:12px;
    border:1px solid #999;
    border-radius:20px;
    width:69px;
}

span.dot {
    height: 10px;
    width: 10px;
    background: #57c322;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
}

.customer-status p
{
    font-weight: 500;
}

.border-bottom
{
    border-bottom: 2px solid #e5eeff !important;
}

.custom-heading h2
{
    margin:0;
    font-size: 20px;
    color:#000;
}

.payment-activity-box
{
    width:206px;
    box-shadow: 0px 2px 3px 0px rgba(126, 135, 161, 0.25);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(126, 135, 161, 0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(126, 135, 161, 0.25);
}

.status-activity-box
{
    width:310px !important;
}

.status-activity-box h2
{
    color:#3a3a3a !important;
}

.status-activity-box h3
{
    text-align: left;
    font-size: 14px;
    color:#000;
}

.payment-activity-box h4
{
    margin-top:0;
    margin-bottom: 15px;
    font-size:12px;
}

.payment-activity-box h2
{
    margin:0;
    color:#000;
    font-size: 16px;
}

.custom-content ul li:nth-child(5)
{
    margin-right:0 !important;
}

.custom-content ul li.list-inline-item
{
    margin-right: 20px;
}

.filter-list ul li
{
    margin-right: 15px !important;
}

.filter-list ul li:last-child
{
    margin-right:0;
}

.filter-list ul li a
{
    color:#000;
    font-size:12px;
}

.filter-list ul li.active a
{
    color:#4B9DEA;
    border-bottom: 1px solid #4B9DEA;
}

h2.stats-heading
{
    font-size:18px;
    color:#000;
    width:200px;
    margin:0 auto 30px;
    position: relative;
}

h2.stats-heading::after {
    position: absolute;
    content: '';
    background: #590ac8;
    width: 40px;
    height: 4px;
    border-radius: 100px;
    bottom: -5px;
    left: 40%;
}

.left-side
{
    width:150px;
}

.left-side h2 span
{
    float: right;
}

.left-side h2,
 .right-side h2
{
    color:#000;
    font-size: 16px;
    margin: 0;
}

/* Personal Info Section Css */

.personal-info .d-flex > div.first-child
{
    width:100px;
}

.personal-info .d-flex>div.last-child
{
    width:180px;
}

.personal-info .d-flex > div
{
    width:200px;
}

.personal-info .right-side a.confirm
{
    color:#4B9DEA;
    border-bottom: 1px solid #4B9DEA;
    font-size:12px;
}

.personal-info .right-side a.edit
{
    color:#2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    font-size:12px;
}

.personal-info .right-side h2 i
{
    color:#57c322;
    font-size: 12px;
    border:1px solid #57c322;
    height: 20px;
    width:20px;
    border-radius: 100%;
    line-height: 18px;
}


/* Custom Modal Wrapper css */

.custom-modal-wrapper .form-group input
{
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0;
    padding-left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.custom-content table tr td .d-flex div:nth-of-type(2)
{
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.custom-content table tr td .d-flex div.trip-history-heading
{
    width:100px;
}

.location-map {
    width: 219px;
    height: 152px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    background: #000;
}

h2.trip-heading
{
    font-size:14px;
    color:#000;
    margin:0;
}

h2.trip-heading span
{
    float: right;
}

p.trip-content
{
    color:#2c2c2c;
    margin-bottom: 5px;
}


.rating ul li
{
    margin-right:2px!important;
}

.document-list ul li
{
    color: #000;
    width:267px;
    margin-right: 0 !important;
    margin-bottom: 15px;
    font-size: 14px;
}

.document-list ul li span i
{
    color: #57c322;
    font-size: 12px;
    border: 1px solid #57c322;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 18px;
    text-align: center;
    margin-right:5px;
}

.driver-cab
{
    height:122px;
    width:297px;
    background-repeat: no-repeat;
    background-position: center;
}

.cab-name h2
{
    font-size: 18px;
    color: #000;
}

.vehicle-info .d-flex div:nth-of-type(2) {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.vehicle-info .personal-info .d-flex>div.first-child
{
    width:120px;
}