<div class="col-lg-12">
  <div class="row mb20">
    <div class="col-md-12">
      <div class="d-flex">
        <div class="total-customers custom-box mr-3 border-radius-10 bg-white pd15">
          <h3>Total Customers : <span class="purple">{{ totalPassengerCount }}</span></h3>
        </div>
        <div class="total-customers custom-box mr-3 border-radius-10 bg-white pd15">
          <h3>Active Customers : <span class="green">{{ activePassengerCount }}</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-md-12">
      <div class="custom-panel-wrapper overflow-hidden">
        <div class="custom-panel-header pd20 bg-white clearfix">
          <div class="float-left">
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <h3>Customers</h3>
              </div>
              <div class="mr-3 search-input">
                <input (keyup)="getPassengers()" [(ngModel)]="paginationAndFilter.search" type="text" class="form-control" placeholder="Search By Name,ID or Phone no">
                <span><img src="../../assets/img/search-ico.png"></span>
              </div>
              <div>
                <select (change)="onStatusChanges()" [(ngModel)]="paginationAndFilter.status" class="form-control">
                  <option value="">All Customers</option>
                  <option value="1">Active Customers</option>
                  <option value="2">Inactive Customers</option>
                </select>
              </div>
            </div>
          </div>
          <div class="float-right">
            <select (change)="onPerPageChanged()" [(ngModel)]="paginationAndFilter.perPage" class="form-control">
              <option value="10">10 items</option>
              <option value="20">20 items</option>
              <option value="30">30 items</option>
            </select>
          </div>
        </div>
        <div class="custom-panel-content bg-white">
          <div class="table-responsive mb20">
            <table class="table mb0 text-center">
              <thead>
                <tr>
                  <td>S. No.</td>
                  <td>Customers Name & ID</td>
                  <td>Email</td>
                  <td>Phone No.</td>
                  <td>Total Request</td>
                  <td>Status</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let passenger of passengers; let i = index">
                  <td>
                    <div class="serial-number">{{ i+1 }}</div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <div class="mr-2">
                        <div class="user-img" [style.background-image]="utilService.getProfilePicture(passenger)"></div>
                      </div>
                      <div class="user-name text-left">
                        <h3>{{ passenger.name.first + " " + passenger.name.last }}</h3>
                        <p class="mb0">{{ passenger.unique_code }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="user-email">
                      <h4>{{ passenger.email }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="phone">
                      <h4>{{ passenger.contact_number }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="total-request">
                      <h4>{{ passenger.requests || 0 }}</h4>
                    </div>
                  </td>
                  <td>
                    <div class="status">
                      <div class="toggle">
                        <input (change)="showConfirmModal(passenger, 1)" type="radio" name="{{'status' + (i+1)}}" value="1" [checked]="passengers[i].status == 1"
                          id="{{'active' + (i+1)}}" />
                        <label for="{{'active' + (i+1)}}" class="active">Active</label>
                        <input (change)="showConfirmModal(passenger, 2)" type="radio" name="{{'status' + (i+1)}}" value="2" [checked]="passengers[i].status == 2"
                          id="{{'inactive' + (i+1)}}" />
                        <label for="{{'inactive' + (i+1)}}" class="inactive">Inactive</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex action-list justify-content-center">
                      <div class="mr-3">
                        <a (click)="viewPassenger(passenger)" class="action-ico" title="View">
                          <i class="fa fa-eye"></i>
                        </a>
                      </div>
                      <div class="mr-3">
                          <a class="action-ico" title="Edit" (click)="openEditModal(i)">
                            <i class="fa fa-pencil"></i>
                          </a>
                        </div>
                      <div>
                        <a (click)="openDeleteModal(passenger)" class="action-ico" title="Delete">
                          <i class="fa fa-trash"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="custom-pagination text-center pd10">
            <pagination [itemsPerPage]="paginationAndFilter.perPage" [totalItems]="totalCount" [(ngModel)]="paginationAndFilter.pageNo" [maxSize]="5" previousText="Previous" nextText="Next" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-edit-modal #editModal (updateEvent)="updated($event)"></app-edit-modal>
<app-delete-modal #deleteModal (deleteEvent)="deleted($event)"></app-delete-modal>

<app-status-confirm-modal #confirmModal (cancelModal)="onCancel()" (statusChangeSuccess)="changeStatus($event)"></app-status-confirm-modal>
