.custom-box h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
}

.custom-panel-wrapper .custom-panel-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-panel-wrapper .custom-panel-header h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
}

.custom-panel-wrapper .custom-panel-header input {
  border-radius: 50px;
  font-size: 14px;
  width: 370px;
  padding-left: 40px;
}

.custom-panel-wrapper .custom-panel-header select {
  border-radius: 50px;
  font-size: 14px;
  color: #000;
}

.custom-panel-wrapper .custom-panel-header .search-input {
  position: relative;
}

.custom-panel-wrapper .custom-panel-header .search-input span {
  position: absolute;
  left: 16px;
  top: 7px;
}

.custom-panel-wrapper .custom-panel-header .search-input span img {
  width: 15px;
}


.custom-panel-wrapper .custom-panel-header input:focus,
.custom-panel-wrapper .custom-panel-header select:focus {
  border: 1px solid #6918db !important;
  outline: 0 none;
  box-shadow: none;
}

.custom-panel-wrapper .custom-panel-content table thead {
  background: #e5eeff;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.custom-panel-wrapper .custom-panel-content table thead tr td {
  padding: 6px 15px;
  white-space: nowrap;
}

.custom-panel-wrapper .custom-panel-content table tbody tr:hover {
  background: #f9f9f9;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td {
  vertical-align: middle;
  white-space: nowrap;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .user-name h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .user-img {
  height: 40px;
  width: 40px;
  background: #fff;
  background-size: contain;
  border-radius: 100%;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td h4 {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td p {
  font-size: 12px;
  color: #000;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .action-list a.action-ico {
  height: 32px;
  width: 32px;
  border: 1px solid #333333;
  text-align: center;
  line-height: 32px;
  display: inline-block;
  border-radius: 100%;
}

.custom-panel-wrapper .custom-panel-content table tbody tr td .action-list a.action-ico:hover {
  background: #590ac8;
  color: #fff;
  border-color: #590ac8;
}

/* TOGGLE STYLING */
.status .toggle {
  margin: 0;
  box-sizing: border-box;
  font-size: 0;
}

.status .toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.status .toggle input+label {
  margin: 0;
  padding: 6px 15px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.status .toggle input+label:first-of-type {
  border-radius: 16px 0 0 16px;
  border-right: none;
  border-color: #3aa920;
}

.status .toggle input+label:last-of-type {
  border-radius: 0 16px 16px 0;
  border-left: none;
  border-color: #ff4040;
}

.status .toggle input:hover+label {
  border-color: #213140;
}

.status .toggle input:checked+label.active {
  background-color: #3aa920;
  color: #fff;
  border-color: #3aa920;
  z-index: 1;
}

.status .toggle input:checked+label.inactive {
  background-color: #ff4040;
  color: #fff;
  border-color: #ff4040;
  z-index: 1;
}

a{
  cursor: pointer;
}


/deep/ .page-item.active .page-link
{
    background: #7120e4;
    border-color:#7120e4;
}

/deep/ .page-link {
  color: #7120e4;
}

.custom-pagination.text-center.pd10 {
  width: fit-content;
  margin: auto;
}