  <div class="col-lg-12">
    <div class="row mb20">
      <div class="col-md-12">
        <div class="d-flex page-title align-items-center justify-content-between pb10">
          <div>
            <h2 class="title mt0 mb0">Customer Details</h2>
          </div>
          <div>
            <button type="button" (click)="goToPassengerList()" class="btn btn-back"><img src="../../assets/img/back-arrow.png"> Back</button>
          </div>
        </div>
      </div>
    </div>
    <!--row end here-->

    <div class="row mb20">
      <div class="col-md-12">
        <div class="custom-wrapper pd20 bg-white border-radius-10">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="user-img d-flex align-items-center">
                <div>
                  <div class="customer-pic mr-3" [style.background-image]="utilService.getProfilePicture(passenger)">
                  </div>
                </div>
                <div>
                  <div class="customer-name">
                    <h2 class="mt0">{{ passenger.name?.first + ' ' + passenger.name?.last }}</h2>
                    <h3 class="mb0">
                      <i class="fa fa-star"></i>
                      0<small>/5</small>
                      <a href="#">Reviews({{ passenger.total_reviews || 0 }})</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="customer-detail">
                <h2 class="cust_id mt0">Customer id : {{ passenger._id }}</h2>
                <h3 class="mt0"><span><img src="../../assets/img/total-ride-ico.png"> {{ passenger.total_rides || 0 }}(Total Rides)</span></h3>
              </div>
            </div>
            <div>
              <div class="customer-status text-right">
                <p *ngIf="passengerStatus" class="green"><span class="dot-green"></span>Active</p>
                <p  *ngIf="!passengerStatus" class="red"><span class="dot-red"></span>InActive</p>
                <button *ngIf="passengerStatus" (click)="showConfirmModal()" type="button" class="btn btn-blck">Block</button>
                <button *ngIf="!passengerStatus" (click)="showConfirmModal()" type="button" class="btn btn-blck">Unblock</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row ends here-->

    <div class="row mb20">
      <div class="col-md-12">
        <div class="custom-wrapper bg-white border-radius-10">
          <div class="custom-heading border-bottom pd15">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h2>Personal Info                        
                  <a (click)="showEditModal()" style="margin-left: 10px;" class="action-ico m-1" title="Edit">
                    <i class="fa fa-pencil"></i>
                  </a>
                </h2>
              </div>
              <div>
                <button type="button" class="btn btn-custom btn-purple">Favourite Drivers</button>
              </div>
            </div>
          </div>
          <!--custom heading ends here-->
          <div class="custom-content pd20">
            <div class="personal-info">
              <div class="d-flex align-items-center mb10">
                <div class="left-side first-child">
                  <h2>Email <span>:</span></h2>
                </div>
                <div class="right-side pl10">
                  <h2>{{ passenger.email }}</h2>
                </div>
                <div class="right-side pl10 text-center">
                  <a class="confirm">Confirm</a>
                  <!-- <h2><i class="fa fa-check"></i></h2> -->
                </div>
                <!-- <div class="right-side pl10">
                  <h2 data-toggle="modal" data-target="#editModal" class="edit">Edit</h2>
                </div> -->
              </div>
              <div class="d-flex align-items-center mb10">
                <div class="left-side first-child">
                  <h2>Phone <span>:</span></h2>
                </div>
                <div class="right-side pl10">
                  <h2>{{ passenger.contact_number }}</h2>
                </div>
                <div class="right-side pl10 text-center">
                  <h2><i class="fa fa-check"></i></h2>
                </div>
                <!-- <div class="right-side pl10">
                  <a class="edit">Edit</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row end here-->

    <div class="row mb20">
      <div class="col-md-12">
        <div class="custom-wrapper bg-white border-radius-10">
          <div class="custom-heading border-bottom pd15">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h2>App Credits</h2>
              </div>
              <div>
                <button type="button" class="btn btn-custom btn-purple">View Transactions Details</button>
              </div>
            </div>
          </div>
          <!--custom heading ends here-->
          <div class="custom-content pd20">
            <div class="app-credit-content">
              <div class="row">
                <div class="col-md-4">
                  <div class="d-flex align-items-center">
                    <div class="left-side">
                      <h2>Wallet Id <span>:</span></h2>
                    </div>
                    <div class="right-side pl10">
                      <h2>DBJ2313</h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center">
                    <div class="left-side">
                      <h2>Current Balance <span>:</span></h2>
                    </div>
                    <div class="right-side pl10">
                      <h2>$0</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row ends here-->

    <div class="row mb20">
      <div class="col-md-12">
        <div class="custom-wrapper bg-white border-radius-10">
          <div class="custom-heading border-bottom pd15">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h2>Payment Activites</h2>
              </div>
              <div>
                <div class="filter-list">
                  <ul class="list-inline mb0">
                    <li class="list-inline-item active"><a href="#">Day</a></li>
                    <li class="list-inline-item"><a href="#">Week</a></li>
                    <li class="list-inline-item"><a href="#">Month</a></li>
                    <li class="list-inline-item"><a href="#">Year</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--custom heading ends here-->
          <div class="custom-content pd20">
            <ul class="list-inline mb0 text-center">
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Trips</h4>
                      <h2>0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Base Fare</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Mile Fare</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Minute Fare</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Total Fare</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Cancellation Fee</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Tips</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Tolls</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Cleaning Fee</h4>
                      <h2>$0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--row ends here-->

    <div class="row mb20">
      <div class="col-md-12">
        <div class="custom-wrapper bg-white border-radius-10">
          <div class="custom-heading border-bottom pd15">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h2>Trip Activites</h2>
              </div>
              <div>
                <div class="filter-list">
                  <ul class="list-inline mb0">
                    <li class="list-inline-item active"><a href="#">Day</a></li>
                    <li class="list-inline-item"><a href="#">Week</a></li>
                    <li class="list-inline-item"><a href="#">Month</a></li>
                    <li class="list-inline-item"><a href="#">Year</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--custom heading ends here-->
          <div class="custom-content pd20">
            <ul class="list-inline mb0 text-center">
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Trips</h4>
                      <h2>0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Duration</h4>
                      <h2>0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>MIle Distance</h4>
                      <h2>0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <h2 class="text-center stats-heading">Stats</h2>

            <ul class="list-inline mb0 text-center">
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Cancellation Rate</h4>
                      <h2>4</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Rating</h4>
                      <h2>0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="payment-activity-box pd20 bg-white border-radius-10 mb20">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                      <h4>Side Drivers</h4>
                      <h2>0</h2>
                    </div>
                    <div>
                      <img src="../../assets/img/payment-ico-1.png" alt="" title="" />
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--row ends here-->

    <div class="row mb20">
      <div class="col-md-12">
        <div class="custom-wrapper bg-white border-radius-10">
          <div class="custom-heading pd15">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h2>Trip History</h2>
              </div>
              <div>

              </div>
            </div>
          </div>
          <!--custom heading ends here-->
          <div class="custom-content">
            <div class="table-responsive">
              <table class="table mb0 text-center">
                <thead>
                  <tr>
                    <td>S. No.</td>
                    <td>Pickup</td>
                    <td>Driver</td>
                    <td>Time</td>
                    <td>Fare</td>
                    <td>Car</td>
                    <td>City</td>
                    <td>Payment Mode</td>
                    <td>Ride Completed</td>
                    <td>Booking ID</td>
                  </tr>
                </thead>
                <!-- <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      <h4 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">3/14/15</h4>
                    </td>
                    <td>
                      <h3>Chris</h3>
                    </td>
                    <td>
                      <h3>12:33 AM</h3>
                    </td>
                    <td>
                      <h3>$83.22</h3>
                    </td>
                    <td>
                      <h3>Sidedriver</h3>
                    </td>
                    <td>
                      <h3>Chicago</h3>
                    </td>
                    <td>
                      <h3>visa********</h3>
                    </td>
                    <td>
                      <h3>Completed</h3>
                    </td>
                    <td>
                      <h3>#6769981</h3>
                    </td>
                  </tr>

                  <tr class="collapse bg-light" id="collapseExample">
                    <td colspan="10">
                      <div class="text-left">
                        <div class="d-flex align-items-center">
                          <div class="mr-3">
                            <div class="location-map"></div>
                          </div>
                          <div>
                            <div class="row mb10">
                              <div class="col-md-12">
                                <div class="d-flex">
                                  <div class="mr-3 trip-history-heading">
                                    <h2 class="trip-heading">Payment <span>:</span></h2>
                                  </div>
                                  <div>
                                    <p class="trip-content">$38.82</p>
                                    <p class="trip-content">Saturday, March 14,2015, 12:33 AM</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="d-flex">
                                  <div class="mr-3 trip-history-heading">
                                    <h2 class="trip-heading">Pick Up <span>:</span></h2>
                                  </div>
                                  <div>
                                    <p class="trip-content">$38.82</p>
                                    <p class="trip-content">Saturday, March 14,2015, 12:33 AM</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="d-flex">
                                  <div class="mr-3 trip-history-heading">
                                    <h2 class="trip-heading">Drop Off <span>:</span></h2>
                                  </div>
                                  <div>
                                    <p class="trip-content">$38.82</p>
                                    <p class="trip-content">Saturday, March 14,2015, 12:33 AM</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody> -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row ends here-->
  </div>
<!--modal-->

<app-edit-modal #editModal (updateEvent)="updated($event)"></app-edit-modal>

<app-status-confirm-modal #confirmModal (statusChangeSuccess)="changeStatus($event)"></app-status-confirm-modal>