<!-- <div class="modal fade" bsModal #confirm="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">

    </div>
  </div> -->
        <div class="modal-body pd20">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="custom-modal-wrapper">
            <!-- <p>Are You sure you want to {{ passengerStatus ? 'Block' : 'Unblock' }} This User ?</p> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
          <button (click)="changeStatus()" style="color: #fff;" class="btn btn-purple">Confirm</button>
        </div>