<div class="page-topbar">
  <div class="quick-area">
    <div class="float-left">
      <div class="page-title info-menu">
        <img src="../../assets/img/logo.png" alt="" title="" />
      </div>
    </div>
    <div class="float-right">
      <ul class="info-menu right-links list-inline list-unstyled mb0">
        <li class="list-inline-item help-toggle-wrapper showopacity">
          <a href="#" data-toggle="dropdown" class="toggle">
            <i class="fa fa-question-circle"></i>
          </a>
        </li>
        <li class="list-inline-item setting-toggle-wrapper showopacity">
          <a href="#" data-toggle="dropdown" class="toggle">
            <i class="fa fa-cog"></i>
          </a>
        </li>
        <li class="list-inline-item notify-toggle-wrapper showopacity">
          <a href="#" data-toggle="dropdown" class="toggle">
            <i class="fa fa-bell"></i>
          </a>
        </li>
        <li class="list-inline-item profile showopacity">
          <a href="#" data-toggle="dropdown" class="toggle">
            <img src="../../assets/img/profile.jpg" alt="user-image" class="img-rounded img-inline">
            <span><i class="fa fa-angle-down"></i></span>
          </a>
          <ul class="dropdown-menu profile animated fadeIn">
            <li>
              <a>
                <i class="fa fa-wrench"></i>
                Settings
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <i class="fa fa-lock"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="page-container row-fluid container-fluid">
  <div class="page-sidebar fixedscroll">
    <div class="page-sidebar-wrapper ps-container ps-active-y" id="main-menu-wrapper">
      <ul class="wraplist list-unstyled">
        <li [routerLinkActive]="['active']">
          <a routerLink="/dashboard">
            <span class="menu-ico menu-ico-1"></span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/drivers">
            <span class="menu-ico menu-ico-2"></span>
            <span class="title">Driver</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/customers">
            <span class="menu-ico menu-ico-3"></span>
            <span class="title">Customers</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-4"></span>
            <span class="title">Rate Setting</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-5"></span>
            <span class="title">Documents</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-6"></span>
            <span class="title">Ride Management</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-7"></span>
            <span class="title">Payment</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-8"></span>
            <span class="title">Partners</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-9"></span>
            <span class="title">Cashback Requests</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a >
            <span class="menu-ico menu-ico-10"></span>
            <span class="title">Live Tracking</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="page-sidebar fixedscroll">
    <div class="page-sidebar-wrapper ps-container ps-active-y" id="main-menu-wrapper">
      <ul class="wraplist list-unstyled">
        <li [routerLinkActive]="['active']">
          <a routerLink="/dashboard">
            <img src="../../assets/img/dashboard-ico.png" alt="" title="">
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/driver-ico.png" alt="" title="">
            <span class="title">Driver</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/customers">
            <img src="../../assets/img/customer-ico.png" alt="" title="">
            <span class="title">Customers</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/rate-ico.png" alt="" title="">
            <span class="title">Rate Setting</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/document-ico.png" alt="" title="">
            <span class="title">Documents</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/ride-ico.png" alt="" title="">
            <span class="title">Ride Management</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/payment-ico.png" alt="" title="">
            <span class="title">Payment</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/partner-ico.png" alt="" title="">
            <span class="title">Partners</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/cashback-ico.png" alt="" title="">
            <span class="title">Cashback Requests</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a>
            <img src="../../assets/img/live-track-ico.png" alt="" title="">
            <span class="title">Live Tracking</span>
          </a>
        </li>
      </ul>
    </div>
  </div> -->
  <div class="" id="main-content">
    <div class="wrapper main-wrapper row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
