.page-topbar, .quick-area .pull-right, .page-topbar .logo-area, .page-sidebar, #main-content {
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
}

.page-topbar .quick-area .info-menu {
    height: 90px;
    margin: 0;
    line-height: 90px;
    padding: 0 25px;
}

.page-topbar .quick-area .info-menu li {
    position: relative;
}

.page-topbar .quick-area .info-menu li
{
    padding-left: 15px;
    padding-right: 15px;
}

.page-topbar li.profile.showopacity {
    opacity: 1 !important;
}

.page-topbar .quick-area .info-menu li a.toggle {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.page-topbar .quick-area .info-menu li.profile a {
    width: auto;
    text-decoration: none;
}

.page-topbar .quick-area .info-menu li.profile img {
    height: 30px;
    width: 30px;
    top: 0px;
    right: 3px;
    position: relative;
    background-color: #999999;
    border-radius: 100%;
}

.page-topbar .quick-area .info-menu li .dropdown-menu {
    width: 360px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 32px;
    font-size: 14px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    margin-top: -1px;
    padding-top: 0px;
}

.page-topbar li .dropdown-menu.profile {
    max-width: 180px;
    height: auto;
    padding: 0px;
}

.page-topbar .dropdown-menu {
    background: #ffffff;
    border: 1px solid #f5f5f5;
}

.page-topbar li .dropdown-menu.profile li a {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.dropdown-menu>li>a {
    padding: 3px 20px;
}

.page-topbar .dropdown-menu:after, .page-topbar .dropdown-menu:before {
    bottom: 100%;
    left: 22px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.page-topbar .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}

.page-topbar .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(80, 80, 80, .1);
    border-width: 10px;
    margin-left: -10px;
}

.page-topbar 
{
    min-height: 90px;
    position: fixed;
    width: 100%;
    background-color: #5f10cf;
    top: 0px;
    left: 0px;
    z-index: 999;
    max-height: 90px;
}

.page-container.container-fluid {
    padding: 0px;
}

.page-sidebar.fixedscroll {
    position: fixed;
    height: 90px;
}

.page-sidebar {
    height: auto;
    width: 273px;
    position: fixed;
    padding: 0px;
    background-color: #fff;
    margin-top: 90px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    min-height: 100%;
    height: auto;
}

#main-menu-wrapper ul.wraplist {
    padding-bottom: 0px;
}

#main-menu-wrapper ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

#main-menu-wrapper li
{
    position: relative;
}

#main-menu-wrapper li a {
    display: block;
    line-height: 60px;
    min-height: 60px;
    height: auto;
    color: #333333;
    text-decoration: none;
    padding-left: 24px;
    clear: both;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

#main-menu-wrapper li a > img {
    padding-right: 15px;
    margin-top: -3px;
}

#main-menu-wrapper li.active {
    background: #7120e4;
}

#main-menu-wrapper li.active a {
    color: #fff;
    font-weight: 600;
}

#main-content {
    margin-left: 273px;
    display: block;
}

.main-wrapper {
    margin-top: 90px;
    display: inline-block;
    width: 100%;
    padding: 25px 25px 0 25px;
    margin-left: 0px;
    margin-right: 0px;
}

span.title
{
    padding-left:50px;
}

span.menu-ico
{
    width:36px;
    height: 36px;
    background-repeat: no-repeat;
    position: absolute;
    top:14px;
}

span.menu-ico-1
{
    background-image: url('src/assets/img/1.png');
}

#main-menu-wrapper li.active span.menu-ico-1 
{
    background-image: url('src/assets/img/1-1.png');
}

span.menu-ico-2 {
    background-image: url('src/assets/img/2.png');
}

#main-menu-wrapper li.active span.menu-ico-2 {
    background-image: url('src/assets/img/2-2.png');
}

span.menu-ico-3 {
    background-image: url('src/assets/img/3.png');
}

#main-menu-wrapper li.active span.menu-ico-3 {
    background-image: url('src/assets/img/3-3.png');
}

span.menu-ico-4 {
    background-image: url('src/assets/img/4.png');
}

#main-menu-wrapper li.active span.menu-ico-4 {
    background-image: url('src/assets/img/4-4.png');
}

span.menu-ico-5 {
    background-image: url('src/assets/img/5.png');
}

#main-menu-wrapper li.active span.menu-ico-5 {
    background-image: url('src/assets/img/5-5.png');
}

span.menu-ico-6 {
    background-image: url('src/assets/img/6.png');
}

#main-menu-wrapper li.active span.menu-ico-6 {
    background-image: url('src/assets/img/6-6.png');
}

span.menu-ico-7 {
    background-image: url('src/assets/img/7.png');
}

#main-menu-wrapper li.active span.menu-ico-7 {
    background-image: url('src/assets/img/7-7.png');
}

span.menu-ico-8 {
    background-image: url('src/assets/img/8.png');
}

#main-menu-wrapper li.active span.menu-ico-8 {
    background-image: url('src/assets/img/8-8.png');
}

span.menu-ico-9 {
    background-image: url('src/assets/img/9.png');
}

#main-menu-wrapper li.active span.menu-ico-9 {
    background-image: url('src/assets/img/9-9.png');
}

span.menu-ico-10 {
    background-image: url('src/assets/img/10.png');
}

#main-menu-wrapper li.active span.menu-ico-10 {
    background-image: url('src/assets/img/10-1.png');
}

a{
    cursor: pointer;
}
